{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "standard-with-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}